<div *ngIf="!isLoggedIn">
    <div class="h1 text-center">
        Login
    </div>
    <hr>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col text-center" style="color:red">
                    {{ errMessage }}
                </div>
            </div>
            <form [formGroup]="loginForm">
                <div class="mb-3 row">
                    <label for="email" class="col-sm-12 col-form-label">Staff Id</label>
                    <div class="col-sm-12">
                        <input formControlName="staffId" type="text" class="form-control" name="staffId" id="staffId"
                            placeholder="1001">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-12 col-form-label">Password</label>
                    <div class="col-sm-12">
                        <input formControlName="password" type="password" class="form-control" name="password"
                            id="password" placeholder="Your Password">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" (click)="doLogin()">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-main *ngIf="isLoggedIn"></app-main>